.auth-container-enter {
  animation: authContainerEnter 0.5s forwards;
}

@keyframes authContainerEnter {
  0% {
    transform: translatey(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  @keyframes authContainerEnter {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}


.welcome-hero-enter {
  animation: welcomeHeroEnter 0.5s forwards;
}

@keyframes welcomeHeroEnter {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.system-message-enter {
  animation: systemMessageEnter 0.5s forwards;
}

@keyframes systemMessageEnter {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
  }
}

.system-message-leave {
  animation: systemMessageLeave 0.5s forwards;
}

@keyframes systemMessageLeave {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-150%);
  }
}

.mobile-navbar-enter {
  animation: mobileNavBarEnter 0.5s forwards;
}

@keyframes mobileNavBarEnter {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.sidebar-enter {
  animation: sideBarEnter 0.5s forwards;
}

@keyframes sideBarEnter {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.home-container-enter {
  animation: homeConntainerEnter 0.5s forwards;
}

@keyframes homeConntainerEnter {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}