@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom font */
@font-face {
    font-family: 'Aclonica';
    src: url('./assets/fonts/Aclonica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  